* {
    box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
}
body {
    background-color: lightgray;
}
.btn {
    padding: 1.5em 5em;
    border-radius: 5px;
    margin-top: 1.5em;
}
.btn.hover {
    border-radius: 5px;
    transition: all 0.5s;
}

.header {
    background-color: rgba(0, 0, 0, 0.74);
    color:grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 5em;
}
.nav-header {
    height: 50px;
    display: flex;
    align-items: center;
}
.logo {
    width: 100%;
    max-width: 50px;
}

.box:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
footer {
    background-color: lightgray;
    font-size: 70%;
}
.h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }