*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    color: rgb(224, 223, 198);
    background-color: rgb(32, 10, 10);
  }
  h1,h5 {
   
    text-shadow: 5px 5px 4px #4e0408;
  }
  .li{
    color: rgb(224, 223, 198);
    background-color: rgb(32, 10, 10);
    padding: 5px;
  }
  .nav{
    background-color: rgb(34, 30, 30);
  }
  .img{
    width: 100%;
    max-width: 500px;
  }